---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=333
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103y5X2MJ4vAOzhlidaQcUAG",
          "livemode": false,
          "created": 1399147401,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103y5X2MJ4vAOzhlO83RA5mp",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 03 May 2014 20:03:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103y5X2MJ4vAOzhlidaQcUAG&plan=myflix_premium&email=joeuser%40example.com
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1399147401,
          "id": "cus_3y5X192EIZraSl",
          "livemode": false,
          "description": null,
          "email": "joeuser@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3y5X192EIZraSl/subscriptions",
            "data": [
              {
                "id": "sub_3y5XGTciobtD4u",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Premium Plan",
                  "created": 1398820480,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_premium",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": "MyFlix Payment"
                },
                "object": "subscription",
                "start": 1399147401,
                "status": "trialing",
                "customer": "cus_3y5X192EIZraSl",
                "cancel_at_period_end": false,
                "current_period_start": 1399147401,
                "current_period_end": 1401739401,
                "ended_at": null,
                "trial_start": 1399147401,
                "trial_end": 1401739401,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3y5X192EIZraSl/cards",
            "data": [
              {
                "id": "card_103y5X2MJ4vAOzhlO83RA5mp",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "1vn304fKHbHgJdVt",
                "customer": "cus_3y5X192EIZraSl",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103y5X2MJ4vAOzhlO83RA5mp"
        }
  recorded_at: Sat, 03 May 2014 20:03:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_3y5X192EIZraSl&amount=999&description=test&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103y5X2MJ4vAOzhlRXuCtn6f",
          "object": "charge",
          "created": 1399147402,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103y5X2MJ4vAOzhlO83RA5mp",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": "cus_3y5X192EIZraSl",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103y5X2MJ4vAOzhl7v5ttrAB",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3y5X192EIZraSl",
          "invoice": null,
          "description": "test",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 03 May 2014 20:03:22 GMT
recorded_with: VCR 2.9.0
