---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103yZV2MJ4vAOzhlJyqmlnRe&plan=myflix_premium&email=joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1399258937,
          "id": "cus_3yZVhV1PzPE82C",
          "livemode": false,
          "description": null,
          "email": "joe@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3yZVhV1PzPE82C/subscriptions",
            "data": [
              {
                "id": "sub_3yZVvnyXJlYdaA",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Premium Plan",
                  "created": 1398820480,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_premium",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": "MyFlix Payment"
                },
                "object": "subscription",
                "start": 1399258937,
                "status": "trialing",
                "customer": "cus_3yZVhV1PzPE82C",
                "cancel_at_period_end": false,
                "current_period_start": 1399258937,
                "current_period_end": 1401850937,
                "ended_at": null,
                "trial_start": 1399258937,
                "trial_end": 1401850937,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3yZVhV1PzPE82C/cards",
            "data": [
              {
                "id": "card_103yZV2MJ4vAOzhlXESJCCov",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "1vn304fKHbHgJdVt",
                "customer": "cus_3yZVhV1PzPE82C",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103yZV2MJ4vAOzhlXESJCCov"
        }
  recorded_at: Mon, 05 May 2014 03:02:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_3yZVhV1PzPE82C&amount=999&description=New%20Subscription%20for%20joe%40example.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103yZV2MJ4vAOzhl69BFz3Cb",
          "object": "charge",
          "created": 1399258938,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103yZV2MJ4vAOzhlXESJCCov",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": "cus_3yZVhV1PzPE82C",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103yZV2MJ4vAOzhltRzyutto",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3yZVhV1PzPE82C",
          "invoice": null,
          "description": "New Subscription for joe@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 05 May 2014 03:02:18 GMT
recorded_with: VCR 2.9.0
