---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_103vU02MJ4vAOzhleopjdWK2&amount=999&description=New%20Subscription%20for%20joe%40example.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration date is incorrect.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_103vU02MJ4vAOzhlNqSstcsa"
          }
        }
  recorded_at: Sat, 26 Apr 2014 21:08:34 GMT
recorded_with: VCR 2.9.0
