---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=333
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103yXi2MJ4vAOzhlwDuegW93",
          "livemode": false,
          "created": 1399252224,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103yXi2MJ4vAOzhlAw2UvvMA",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 05 May 2014 01:10:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103yXi2MJ4vAOzhlwDuegW93&plan=myflix_premium&email=joeuser%40example.com
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1399252225,
          "id": "cus_3yXiqdG4GjSEIK",
          "livemode": false,
          "description": null,
          "email": "joeuser@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3yXiqdG4GjSEIK/subscriptions",
            "data": [
              {
                "id": "sub_3yXiG92URdC2WV",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Premium Plan",
                  "created": 1398820480,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_premium",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": "MyFlix Payment"
                },
                "object": "subscription",
                "start": 1399252225,
                "status": "trialing",
                "customer": "cus_3yXiqdG4GjSEIK",
                "cancel_at_period_end": false,
                "current_period_start": 1399252225,
                "current_period_end": 1401844225,
                "ended_at": null,
                "trial_start": 1399252225,
                "trial_end": 1401844225,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3yXiqdG4GjSEIK/cards",
            "data": [
              {
                "id": "card_103yXi2MJ4vAOzhlAw2UvvMA",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "1vn304fKHbHgJdVt",
                "customer": "cus_3yXiqdG4GjSEIK",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103yXi2MJ4vAOzhlAw2UvvMA"
        }
  recorded_at: Mon, 05 May 2014 01:10:25 GMT
recorded_with: VCR 2.9.0
