---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=333
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1040mQ2MJ4vAOzhllnQPLlSw",
          "livemode": false,
          "created": 1399768225,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1040mQ2MJ4vAOzhljMDlbDzS",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 11 May 2014 00:30:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1040mQ2MJ4vAOzhllnQPLlSw&plan=myflix_base&email=joeuser%40example.com
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1399768226,
          "id": "cus_40mQnjT7qrDkmS",
          "livemode": false,
          "description": null,
          "email": "joeuser@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_40mQnjT7qrDkmS/subscriptions",
            "data": [
              {
                "id": "sub_40mQANgZ8w9qz0",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Base Plan",
                  "created": 1399435879,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix BasePlan"
                },
                "object": "subscription",
                "start": 1399768226,
                "status": "active",
                "customer": "cus_40mQnjT7qrDkmS",
                "cancel_at_period_end": false,
                "current_period_start": 1399768226,
                "current_period_end": 1402446626,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_40mQnjT7qrDkmS/cards",
            "data": [
              {
                "id": "card_1040mQ2MJ4vAOzhljMDlbDzS",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "1vn304fKHbHgJdVt",
                "customer": "cus_40mQnjT7qrDkmS",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1040mQ2MJ4vAOzhljMDlbDzS"
        }
  recorded_at: Sun, 11 May 2014 00:30:26 GMT
recorded_with: VCR 2.9.0
