<!doctype html>
%html
  %body
    %h1= "Your MyFlix Account Has Been Locked, #{@user.name}"
    %p This is the result of a failed charge to the credit card you have on record. Please contact MyFLiX Customer Service to resolve this issue.

