---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2016&card[cvc]=333
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103teJ2MJ4vAOzhlNjKxCrds",
          "livemode": false,
          "created": 1398123602,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103teJ2MJ4vAOzhlASrXCBGH",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "EgJ1TFyOHqe7qQ2M",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 21 Apr 2014 23:40:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_103teJ2MJ4vAOzhlNjKxCrds&amount=999&description=test&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103teJ2MJ4vAOzhlxwFj0er8"
          }
        }
  recorded_at: Mon, 21 Apr 2014 23:40:04 GMT
recorded_with: VCR 2.9.0
