---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=333
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103teJ2MJ4vAOzhlMlMYarK4",
          "livemode": false,
          "created": 1398123599,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103teJ2MJ4vAOzhlf2gtg0xL",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 21 Apr 2014 23:40:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_103teJ2MJ4vAOzhlMlMYarK4&amount=999&description=test&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103teJ2MJ4vAOzhlMhcdwSD4",
          "object": "charge",
          "created": 1398123599,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103teJ2MJ4vAOzhlf2gtg0xL",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103teJ2MJ4vAOzhlMMAWSd0N",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "test",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 21 Apr 2014 23:40:01 GMT
recorded_with: VCR 2.9.0
