---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=333
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103teJ2MJ4vAOzhlznpRlAO1",
          "livemode": false,
          "created": 1398123594,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103teJ2MJ4vAOzhlETkeE3Op",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "1vn304fKHbHgJdVt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 21 Apr 2014 23:39:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=joeuser%40example.com&card=tok_103teJ2MJ4vAOzhlznpRlAO1
    headers:
      Authorization:
      - Bearer sk_test_BPRW85SBx2sRT0pLjGFgWg0m
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1398123595,
          "id": "cus_3teJXFwevncfMj",
          "livemode": false,
          "description": null,
          "email": "joeuser@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_3teJXFwevncfMj/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3teJXFwevncfMj/cards",
            "data": [
              {
                "id": "card_103teJ2MJ4vAOzhlETkeE3Op",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "1vn304fKHbHgJdVt",
                "customer": "cus_3teJXFwevncfMj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103teJ2MJ4vAOzhlETkeE3Op"
        }
  recorded_at: Mon, 21 Apr 2014 23:39:56 GMT
recorded_with: VCR 2.9.0
